.expenseItem{
    user-select: none;
}
.expenseItem td:nth-child(2),
.expenseItem td:nth-child(3),
.expenseItem td:nth-child(4),
.expenseItem td:nth-child(5){
    text-align: center;
}

.addCostIcon{
    font-size: 27px;
    cursor: pointer;
}

.subCostIcon{
    font-size: 22px;
    color: red;
    cursor: pointer;
}
.deleteCostIcon{
    font-size: 36px;
    cursor: pointer;
}
.addCostIcon:hover,
.deleteCostIcon:hover,
.subCostIcon:hover{
   transform: scale(1.15);
}